.addrecipy-cont{
    background-color: black;
    padding: 15px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

form{
    background-color: black;
    padding: 15px;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

form label{
    font-size: 20px;
    color: red;
    font-weight: bold;
}

.forminsideText{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

form input{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 7px;
    height: 35px;
    font-size: 15px;
}

form textarea{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 15px;
}

.submit-btn{
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 10px 15px;
    font-size: 15px;
    width: 50%;
    align-self: center;
    background-color: #0059ff;
    color: white;
}

.submit-btn:hover{
    cursor: pointer;
    background-color: #0446be;
}